@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

header{
    background-color: rgb(255,187,0);
}

.header_div{
    display: flex;
    justify-content: start;
    align-items: center;
}

.header_div_div1{
    display:flex;
    justify-content: start;
}
.header_div_div_h1{
    display:inline-block;
}
.header_div_div_img{
    height:75px;
    width:75px;
    border: 3px double rgb(0, 0, 0);
    display:inline-block;
}
.header_div_div3{
    width: 100px;
}
.header_div_div2{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header_div_div_div{
    background-color: rgb(0, 0, 0);
    border-radius: 25px 25px 25px 25px;
    width:150px;
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: rgb(255,187,0);
    text-decoration: none;
    font-weight: bold;
}

.header_div_div_link{
    text-decoration:none;
    color:rgb(0, 0, 0);
}
-------------------------------------------------------------------------------------------------




main{
    background-color: rgb(0, 0, 0);
}

.main_div{
    display:flex;
    width:100%;
    align-items:space-between;
    height:600px;
}
.main_div_div1{
    width:50%;
    height:100%;
}
.main_div_div2{
    width:50%;
}
.main_div_div1_img{
    width:100%;
    height:100%;
}
.main_div_div2{
    width: 50%;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items:center;
}
.main_div_div2_h2{
    color: rgb(255,187,0);
    font-size: 40px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.main_div2{
    display:flex;
    align-items:space-between;
    height:600px;
    width:100%;
}
.main_div2_div1{
    width:50%;
    height:100%;
}
.main_div2_div2{
    width:50%;
}
.main_div2_div1_img{
    width:100%;
    height:100%;
}
.main_div2_div2{
    width: 50%;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items:center;
}
.main_div2_div2_h2{
    color: rgb(255,187,0);
    font-size: 40px;
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}
span{
    
}

-----------------------------------------------------------------------------------------------------


footer{
    background-color: rgb(255,187,0);
}



